* {
  box-sizing: border-box;
}

a {
  cursor: pointer;
}

html {
  font-size: 10px;
}

body {
  background-color: #FBF4EC;
  font-family: "Montserrat";
}

h1 {
  font-size: 3rem;
  line-height: 4.5rem;
  font-family: "Open Sans";
}

h2 {
font-size: 2rem;
font-family: "Open Sans";
}

main {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr;
  /* grid-gap: 1rem; */
  grid-auto-rows: minmax(20px, auto);
  grid-template-areas:
  "hero"
  "main-illustrator"
  "main-illustrator"
  "main-illustrator"
  "footer";
}

@media (max-width:350px) {
  .hero {
    background-image: url("../../image/meme-mobile1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height: 0;
    padding-bottom: 310%;
    /* background-color:#FBF4EC; */
    color: #3F3E87;
    grid-area: hero;
  }
  .about {
    font-size: 1.5rem;
    margin-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    letter-spacing: 0.5px;
  }
}

@media (max-width:500px) and (min-width:350px) {
  .hero {
    background-image: url("../../image/meme-mobile2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height: 0;
    padding-bottom: 240%;
    /* background-color:#FBF4EC; */
    color: #3F3E87;
    grid-area: hero;
  }
  .about {
    font-size: 1.5rem;
    margin-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    letter-spacing: 0.5px;
  }
}

@media (max-width:768px) and (min-width:500px) {
  .hero {
    background-image: url("../../image/meme-mobile3.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    width:100%;
    height: 0;
    padding-bottom: 220%;
    /* background-color:#FBF4EC; */
    color: #3F3E87;
    grid-area: hero;
  }

  .about {
    font-size: 2rem;
    margin-top: 10%;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    line-height: 3.5rem;
    letter-spacing: 0.5px;
  }
}


.two {
  color: white;
}

.main-illustrator {
  grid-area: main-illustrator;
}

footer {
  background-color: #636267;
  grid-area: footer;
  display: block;
  margin-top:0;
  margin-bottom:0;
}

/* .about {
  font-size: 1.5rem;
  padding-left: 10%;
  padding-right: 10%;
  margin-top:2%;
  color: white;
} */

.illustrator1 {
  width:90%;
  float: left;
  margin-right: 10%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  }

  .p1 {
    width :90%;
    color: #3F3E87;
    float: left;
    margin-right: 10%;
    margin-bottom: 2rem;
    background-color: white;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 0 3rem 3rem 0; /* top left, top right, bottom right, bottom left */
  }

  .illustrator2 {
    width:90%;
    float: right;
    margin-left: 10;
    margin-bottom: 2rem;
  }

  .p2 {
    width :90%;
    color: #3F3E87;
    float: right;
    margin-left: 10%;
    background-color: white;
    margin-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 3rem 0 0 3rem; /* top left, top right, bottom right, bottom left */
  }

  .illustrator3 {
    width:90%;
    float: left;
    margin-right: 10%;
    margin-bottom: 2rem;
    display: block;
  }

  .p3 {
    width :90%;
    color: #3F3E87;
    float: left;
    margin-right: 10%;
    margin-bottom: 2rem;
    background-color: white;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 0 3rem 3rem 0; /* top left, top right, bottom right, bottom left */
  }

  .illustrator4 {
    width:90%;
    float: right;
    margin-left: 10;
    margin-bottom: 2rem;
  }

  .p4 {
    width :90%;
    color: #3F3E87;
    float: right;
    margin-left: 10%;
    background-color: white;
    margin-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 3rem 0 0 3rem; /* top left, top right, bottom right, bottom left */
  }


  .illustrator5 {
    width:90%;
    float: left;
    margin-right: 10%;
    margin-bottom: 2rem;
  }

  .p5 {
    width :90%;
    color: #3F3E87;
    float: left;
    margin-right: 10%;
    margin-bottom: 2rem;
    background-color: white;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 0 3rem 3rem 0; /* top left, top right, bottom right, bottom left */
  }

  .illustrator6 {
    width:90%;
    float: right;
    margin-left: 10;
    margin-bottom: 2rem;
  }

  .p6 {
    width :90%;
    color: #3F3E87;
    float: right;
    margin-left: 10%;
    background-color: white;
    margin-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 3rem 0 0 3rem; /* top left, top right, bottom right, bottom left */
  }

  .illustrator7 {
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .bio, .work {
    color: white;
    font-size: 2rem;
  }

  .bold {
    font-weight:bold;
  }

  .main-illustrator {
    background-color: #FBF4EC;
  }

  .email {
    text-align: center;
  }

  .get-in-touch {
    color: white;
    font-size: 15px;
  }

  .social-logo {
    width: 25px;
    margin: 0.5rem 0.5rem;
  }

  #ul-social-media li {
    display: inline;
  }

  .ul-social {
    display: table;   /* Allow the centering to work */
  	margin: 0 auto;
  }

  .made-in-usa {
    text-align: center;
  }

  .made-in-usa-p {
    color: white;
    font-size: 10px;
    line-height: 2.5rem;
  }

  /* .my-logo:hover {
    transform: scale(1.2, 1.2);
  } */

  #flex-container li {
    display: inline;
    width:24%;
    text-align: center;
  }

  li {
    align-items: center;
  }

  .work:hover {
    font-size: larger;
    text-shadow: 0 0 1px #3F3E87;
  }

  .bio:hover {
    font-size: larger;
    text-shadow: 0 0 1px #3F3E87;
  }

  .get-in-touch:hover {
    text-shadow: 0 0 10px white;
  }

  #ul-social-media li {
    display: inline;
    width:20%;
  }


  .ul-social {
    display: table;   /* Allow the centering to work */
  	margin: 0 auto;
  }

  .social-logo:hover {
    transform: scale(1.5, 1.5);
  }

@media screen and (min-width:768px) {

  main {
    /* background-color: red; */
    grid-template-columns: 2fr 2fr;
    grid-template-areas:
    "hero main-illustrator"
    "hero main-illustrator"
    "hero main-illustrator"
    "hero footer";
  }

  @media (max-width:1024px) and (min-width:768px) {

    .hero {
      background-image: url("../../image/meme-tablet2.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      /* height: 864.75px; */
      /* background-color:#FBF4EC; */
      width: 100%;
      color: #3F3E87;
      grid-area: hero;
      background-position: 0 -300px;
    }

    .about {
      font-size: 1.5rem;
      padding-left: 10%;
      padding-right: 10%;
      color: white;
      line-height: 2.8rem
    }
  }

  @media (min-width:1023px) and (max-width:1024px) {
    .hero {
      background-image: url("../../image/meme-tablet2.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      /* height: 864.75px; */
      /* background-color:#FBF4EC; */
      width: 100%;
      color: #3F3E87;
      grid-area: hero;
      background-position: 0 -650px;
    }

    .about {
      font-size: 2.8rem;
      padding-left: 10%;
      padding-right: 10%;
      color: white;
      line-height: 5rem;
      margin-top: 10%;
    }
}

  @media (min-width:799px) and (max-width:801px) {

    .about {
      font-size: 2.8rem;
      padding-left: 10%;
      padding-right: 10%;
      color: white;
      line-height: 5rem;
      margin-top: 10%;
    }

}

  @media (min-width:767px) and (max-width:768px) {

    .hero {
      background-image: url("../../image/meme-tablet2.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      /* height: 864.75px; */
      /* background-color:#FBF4EC; */
      width: 100%;
      color: #3F3E87;
      grid-area: hero;
      background-position: 0 -650px;
    }
  }

  .hero {
    position: fixed;
    width: 50%;
    height:100%;
  }

  /* .about {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 4rem;
  } */

  .main-illustrator {
    grid-area: main-illustrator;
  }

  .illustrator1 {
    width:90%;
    float: left;
    margin-right: 10%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    }

  .p1 {
    width :90%;
    color: #3F3E87;
    float: left;
    margin-right: 10%;
    margin-bottom: 2rem;
    background-color: white;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    border-radius: 0 3rem 3rem 0; /* top left, top right, bottom right, bottom left */
  }

  .illustrator2 {
    width:90%;
    float: right;
    margin-left: 10;
    margin-bottom: 2rem;
  }

    .p2 {
      width :90%;
      color: #3F3E87;
      float: right;
      margin-left: 10%;
      background-color: white;
      margin-bottom: 2rem;
      padding-left: 3rem;
      padding-right: 3rem;
      padding-top: 3rem;
      padding-bottom: 3rem;
      border-radius: 3rem 0 0 3rem; /* top left, top right, bottom right, bottom left */
    }

    .illustrator3 {
      width:90%;
      float: left;
      margin-right: 10%;
      margin-bottom: 2rem;
    }

    .p3 {
      width :90%;
      color: #3F3E87;
      float: left;
      margin-right: 10%;
      margin-bottom: 2rem;
      background-color: white;
      padding-left: 3rem;
      padding-right: 3rem;
      padding-top: 3rem;
      padding-bottom: 3rem;
      border-radius: 0 3rem 3rem 0; /* top left, top right, bottom right, bottom left */
    }

    .illustrator4 {
      width:90%;
      float: right;
      margin-left: 10;
      margin-bottom: 2rem;
    }

    .p4 {
      width :90%;
      color: #3F3E87;
      float: right;
      margin-left: 10%;
      background-color: white;
      margin-bottom: 2rem;
      padding-left: 3rem;
      padding-right: 3rem;
      padding-top: 3rem;
      padding-bottom: 3rem;
      border-radius: 3rem 0 0 3rem; /* top left, top right, bottom right, bottom left */
    }


    .illustrator5 {
      width:90%;
      float: left;
      margin-right: 10%;
      margin-bottom: 2rem;
    }

    .p5 {
      width :90%;
      color: #3F3E87;
      float: left;
      margin-right: 10%;
      margin-bottom: 2rem;
      background-color: white;
      padding-left: 3rem;
      padding-right: 3rem;
      padding-top: 3rem;
      padding-bottom: 3rem;
      border-radius: 0 3rem 3rem 0; /* top left, top right, bottom right, bottom left */
    }

    .illustrator6 {
      width:90%;
      float: right;
      margin-left: 10;
      margin-bottom: 2rem;
    }

    .p6 {
      width :90%;
      color: #3F3E87;
      float: right;
      margin-left: 10%;
      background-color: white;
      margin-bottom: 2rem;
      padding-left: 3rem;
      padding-right: 3rem;
      padding-top: 3rem;
      padding-bottom: 3rem;
      border-radius: 3rem 0 0 3rem; /* top left, top right, bottom right, bottom left */
    }

    .illustrator7 {
      width:90%;
      margin-left: 5%;
      margin-right: 5%;
    }

    .flex-container {
      margin-left: 5%;
      margin-right: 5%;
    }
}

@media screen and (min-width:1025px) {
  main {
    /* background-color: yellow; */
    grid-template-columns: 2fr 6fr;
    grid-template-areas:
    "hero main-illustrator"
    "hero main-illustrator"
    "hero main-illustrator"
    "hero footer";
  }

@media (min-width:1279px) and (max-width:1441px) {
    .hero {
      background-image: url("../../image/meme-no-resize.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      /* height: 864.75px; */
      /* background-color:#FBF4EC; */
      width: 100%;
      color: #3F3E87;
      grid-area: hero;
      background-position: -20px 0;
    }
}

  .hero {
    position: fixed;
    width: 25%;
    height:100%;
  }

  .hero {
    background-image: url("../../image/meme-no-resize.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* height: 864.75px; */
    /* background-color:#FBF4EC; */
    color: #3F3E87;
    grid-area: hero;
  }

  .about {
    padding-left: 10%;
    padding-right: 10%;
    margin-top: 5%;
    color: white;
  }

  .main-illustrator {
    grid-area: main-illustrator;
  }

  a:link {
    color: white;
  }

  .illustrator1 {
    width:50%;
    float: left;
    margin-right: 55%;
    margin-left: 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .p1 {
    width :50%;
    color: #3F3E87;
    float: left;
    margin-bottom: 2rem;
    background-color: white;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-right: 0;
    border-radius: 0 3rem 3rem 0; /* top left, top right, bottom right, bottom left */
  }

  .illustrator2 {
    width:45%;
    float: right;
    margin-bottom: 2rem;
  }

  .p2 {
    width :45%;
    color: #3F3E87;
    float: right;
    background-color: white;
    margin-bottom: 2rem;
    padding-left: 6rem;
    padding-right: 6rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-left: 0;
    border-radius: 3rem 0 0 3rem; /* top left, top right, bottom right, bottom left */
  }

  .illustrator3 {
    width:50%;
    float: left;
    margin-right: 55%;
    margin-bottom: 2rem;
  }

  .p3 {
    width :50%;
    color: #3F3E87;
    float: left;
    margin-bottom: 2rem;
    background-color: white;
    padding-right: 6rem;
    padding-left: 6rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-right: 0;
    border-radius: 0 3rem 3rem 0; /* top left, top right, bottom right, bottom left */
  }

  .illustrator4 {
    width:45%;
    float: right;
    margin-bottom: 2rem;
  }

  .p4 {
    width :45%;
    color: #3F3E87;
    float: right;
    background-color: white;
    margin-bottom: 2rem;
    padding-right: 6rem;
    padding-left: 6rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-left: 0;
    border-radius: 3rem 0 0 3rem; /* top left, top right, bottom right, bottom left */
  }

  .illustrator5 {
    width:50%;
    float: left;
    margin-right: 55%;
    margin-bottom: 2rem;
  }

  .p5 {
    width :50%;
    color: #3F3E87;
    float: left;
    margin-bottom: 2rem;
    background-color: white;
    padding-right: 6rem;
    padding-left: 6rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-right: 0;
    border-radius: 0 3rem 3rem 0; /* top left, top right, bottom right, bottom left */
  }

  .illustrator6 {
    width:45%;
    float: right;
    margin-bottom: 2rem;
    margin-left:-1.5rem;
  }

  .p6 {
    width :45%;
    color: #3F3E87;
    float: right;
    background-color: white;
    padding-right: 6rem;
    padding-left: 6rem;
    padding-top: 6rem;
    padding-bottom: 6rem;
    margin-left: 0;
    margin-bottom: 0;
    border-radius: 3rem 0 0 0; /* top left, top right, bottom right, bottom left */
  }

  img.illustrator7 {
    float: bottom;
    margin-left:1%;
    width: 45%;
    margin-top: 10%;
  }

  .flex-container {
    margin-left: 5%;
    margin-right: 5%;
  }

}

.flex-container {
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  align-items: center;
  height: 8rem;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  font-family: "open Sans";
  font-weight: 600;
}

li {
  align-items: center;
}

.logo {
  width:60px;
}

.one, .two, .three {
  flex-grow:1;
}

p {
  font-size: 1.5rem;
  line-height: 3rem;
  font-family: "Montserrat";
}

.main-title {
  margin-top: 8rem;
  margin-bottom: 2rem;
  margin-left: 10%;
  margin-right: 10%;
}
a:link {
  text-decoration: none;
}
