* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #FBF4EC;
  font-family: "Montserrat";
}

h1 {
  font-size: 3rem;
  line-height: 4.5rem;
  font-family: "Open Sans";
}

h2 {
  font-size: 2rem;
  font-family: "Open Sans";
  font-weight: 600;
}

p {
  font-size: 1.8rem;
  line-height: 3rem;
  font-family: "Montserrat";
}

#load {
  width:100%;
  height:100%;
  position:fixed;
  z-index:9999;
  background:#FBF4EC url('images/loader.gif') no-repeat center center;
}

.about {
  margin-left: 10%;
  margin-right: 10%;
}

.link {
	text-decoration: none;
  position: relative;
	z-index: 1;
	display: inline-flex;
	padding-bottom: 5px;
}

.link::before {
	content: "";
	width: 100%;
	height: 20%;
	background-image: linear-gradient(to top, #3F3E87 1%, rgba(0, 0, 0, 0) 40%);
	position: absolute;
	left: 0;
	bottom: 8px;
	z-index: -1;
	will-change: width;
	transform-origin: left bottom
}

.link:hover::before {
	width: 0;
}

.link::before {
	transition: width .1s ease-out;
}

.link:hover::before {
	transition-duration: .15s;
}

 main {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-auto-rows: minmax(20px, auto);
  grid-template-areas:
  "hero"
  "project1"
  "project2"
  "project3"
  "footer";
  }

.hero {
  background-color:#FBF4EC;
  color: #3F3E87;
  grid-area: hero;
}

 .project1 {
  background-color: #D7908D;
  grid-area: project1;
}

.project2 {
  background-color: #b0abb1;
  grid-area: project2;
}

.project3 {
  grid-area: project3;
  background-color: #B0D6FC;
}


.project1-image, .project2-image, .project3-image {
  width:100%;
  margin: 0 0;
}

.project1-info, .project2-info, .project3-info {
  margin: 5% 10%;
}

footer {
  background-color: #636267;
  grid-area: footer;
  display: block;
  height: 6rem;
  text-align: center;
}

.work-font, .bio-font {
  color: #3F3E87;
  font-size: 2rem;
}

.social-logo-1 {
  width:25px;
  margin:2rem 1rem;
}

.social-logo-2 {
  width:25px;
  margin:2rem 1rem;
}

.social-logo-3 {
  width:25px;
  margin:2rem 1rem;
}

.social-logo-4 {
  width:25px;
  margin:2rem 1rem;
}

#social-media li a {
  width:20%
}

.social-logo-1:hover {
  transform: scale(1.4, 1.4);
}

.social-logo-2:hover {
 transform: scale(1.4, 1.4);
}

.social-logo-3:hover {
 transform: scale(1.4, 1.4);
}

.social-logo-4:hover {
 transform: scale(1.4, 1.4);
}

.my-logo:hover {
  transform: scale(1.2, 1.2);
}

.about {
  margin-top:2rem;
}

a {
  color: #3F3E87;
}

.social-media {
  margin-left:10%;
  margin-right:10%;
  display: inline-block;
}

.project1, .project2, .project3 {
  color: white;
}

@media (max-width:350px) {
  .case-button, .case-button-2 {
    margin:3rem auto;
    border: 1.5px solid #3F3E87;
    border-radius: 5rem;
    font-weight: 600;
    padding: 1.5rem 10%;
    /* background-color: #3F3E87;
    color: white; */
  }
}

@media (min-width:350px) {
  .case-button, .case-button-2 {
    margin:3rem auto;
    border: 1.5px solid #3F3E87;
    border-radius: 5rem;
    font-weight: 600;
    padding: 1.5rem 25%;
  }
}

.case-button:hover {
  /* text-shadow: 0px 0px 6px rgba(255, 255, 255, 1); */
 -webkit-box-shadow: 0px 5px 40px 10px rgba(63, 62, 135,0.57);
 -moz-box-shadow: 0px 5px 40px 10px rgba(63, 62, 135,0.57);
 transition: all 0.4s ease 0s;
}

.hello-button {
  margin:3rem auto;
  border: 1.5px solid #61AAB1;
  border-radius: 5rem;
  font-weight: 600;
  padding: 1.2rem 14%;
  background-color: #61AAB1;
  color: white;
  font-size: 1.8rem;
}

.CTA :hover {
  /* text-shadow: 0px 0px 6px rgba(255, 255, 255, 1); */
 -webkit-box-shadow: 0px 5px 40px -10px rgba(97, 170,177);
 -moz-box-shadow: 0px 5px 40px -10px rgba(97, 170, 177);
 transition: all 0.4s ease 0s;
}

.footer-p {
  color: white;
  font-size: 10px;
  margin-top: 30px;
}

.flex-container {
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  align-items: center;
  height: 8rem;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 600;
}

ul li {
  display: inline;
  width:24%;
}

.work :hover {
  font-size: larger;
  text-shadow: 0 0 1px #3F3E87;
}

.bio :hover {
  font-size: larger;
  text-shadow: 0 0 1px #3F3E87;
}

li {
  align-items: center;
}

.logo {
  width:60px;
}

.my-logo, .work, .bio {
  flex-grow:1;
}

.main-title {
  margin-top: 5rem;
  margin-bottom: 2rem;
  margin-left: 10%;
  margin-right: 10%;
}

.button1 {
  height: 50px;
}

.CTA {
  margin-left: 10%;
  margin-top: 2rem;
  margin-bottom: 4rem;
}

a:link {
  text-decoration: none;
}

.button, .button2 {
  text-align: center;
  margin-top: 3rem;
  font-size: 1.6rem;
  margin-bottom: 5rem;
}

.project2-h2, .project1-h2, .project3-h2 {
  margin-bottom: 2rem;
}

.project1-p, .project2-p, .project3-p {
  margin-bottom: 4rem;
  width: 100%;
}


@media screen and (min-width:768px) {

  main {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
    "hero project1"
    "hero project2"
    "hero project3"
    "hero footer";
  }

  .hero {
    width:33.3%;
  }

  .flex-container {
    margin-left: 5%;
    margin-right: 5%;
  }

  .hero {
    position: fixed;
    grid-area: hero;
    height:100%;
  }

  .main-title, .about {
    margin-left: 10%;
    margin-right: 10%;
  }

.project1-image, .project2-image, .project3-image {
  /* grid-area: project1-image; */
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}
  .work, .bio {
    color: #3F3E87;
  }

  .social-logo-1 {
    width:25px;
    margin:2rem 1rem;
  }

  .social-logo-2 {
    width:25px;
    margin:2rem 1rem;
  }

  .social-logo-3 {
    width:25px;
    margin:2rem 1rem;
  }

  .social-logo-4 {
    width:25px;
    margin:2rem 1rem;
  }

  #social-media li a {
    width:20%
  }

  .social-logo-1:hover {
    transform: scale(1.4, 1.4);
 }

 .social-logo-2:hover {
   transform: scale(1.4, 1.4);
 }

 .social-logo-3:hover {
   transform: scale(1.4, 1.4);
 }

 .social-logo-4:hover {
   transform: scale(1.4, 1.4);
 }

  .about {
    margin-top:2rem
  }

  .social-media {
    margin-left:10%;
    margin-right:10%;
  }

  .project2-info, .project1-info, .project3-info {
    vertical-align: middle;
  }

  .project2-h2, .project1-h2, .project3-h2 {
    margin-bottom: 2rem;
  }

  .project1-p, .project2-p, .project3-p {
    margin-bottom: 4rem;
  }

}

@media screen and (min-width:1025px) {

  main {
   background-color: white;
   display: grid;
   grid-template-columns:2fr 6fr;
   grid-template-areas:
   "hero project1"
   "hero project2"
   "hero project3"
   "hero footer";
 }

  .flex-container {
    margin-left: 5%;
    margin-right: 5%;
  }

  .hero {
    position: fixed;
    height:100%;
    width:25%;
  }

  .main-title, .about {
    margin-left: 10%;
    margin-right: 10%;
  }

  .work, .bio {
    color: #3F3E87;
  }

  .social-logo-1 {
    width:25px;
    margin:2rem 1rem;
  }

  .social-logo-2 {
    width:25px;
    margin:2rem 1rem;
  }

  .social-logo-3 {
    width:25px;
    margin:2rem 1rem;
  }

  .social-logo-4 {
    width:25px;
    margin:2rem 1rem;
  }

  #social-media li a {
    width:20%
  }

  .social-logo-1:hover {
    transform: scale(1.4, 1.4);
 }

 .social-logo-2:hover {
   transform: scale(1.4, 1.4);
 }

 .social-logo-3:hover {
   transform: scale(1.4, 1.4);
 }

 .social-logo-4:hover {
   transform: scale(1.4, 1.4);
 }

 .about {
   margin-top:2rem
 }

.social-media {
  margin-left:10%;
  margin-right:10%;
  }

.case-button, .case-button-2 {
  background-color: #3F3E87;
  color: white;
  }

  .project3-h2, .project3-p {
    color: #3F3E87;
  }

 .project1-image, .project2-image, .project3-image {
   margin: 0 0;
   width: 100%;
 }

 .project1-info, .project2-info, .project3-info {
   /* margin-left: 18%;
   margin-right: 0; */
   transition: .5s ease;
   opacity: 0;
   position: absolute;
   top: 50%;
   left: 52%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
   text-align: left;
   margin: 0 0;
 }

 .project1, .project2, .project3 {
   position: relative;
   justify-content: center;
   align-items: center;
 }

 .project1:hover .project1-image, .project2:hover .project2-image, .project3:hover .project3-image {
   opacity: 0.1;
  }

.project1:hover .project1-info, .project2:hover .project2-info, .project3:hover .project3-info {
    opacity: 1;
  }

 .button {
   text-align: center;
   margin-top: 5rem;
   font-size: 1.6rem;
 }

.button2 {
  text-align: center;
  margin-top: 5rem;
  font-size: 1.6rem;
}

.project2-h2, .project1-h2 {
  margin-bottom: 2rem;
}


.project1-p, .project2-p {
  margin-bottom: 4rem;
 }

}
