* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #FBF4EC;
  font-family: "Montserrat";
  color:#3F3E87;
}

h1 {
  font-size: 2.4rem;
  line-height: 4.5rem;
  font-weight: 600;
  font-family: "Open Sans";
}

h2 {
  font-size: 1.6rem;
  font-family: "open Sans";
  font-weight: 600;
}

p {
  display:inline;
  font-family: "Montserrat";
  font-size: 1.5rem;
  line-height: 2.5rem;
}

.role, .duration, .tools {
  font-weight: 500;
}

.overview, .general, .question, .waveform, .lamp, .design-challenge, .Research, .research-understanding, .description, .user-flow, .user-story
, .finding, .pen, .sitemap, .branding, .color, .typeface, .marketing, .wireframe, .mockup, .preference, .iteration, .conclusion {

  margin: 4% 10%;
}

section {
  margin-top: 1%;
  margin-bottom: 1%;
}

.com-user-flow{
  background-image: url("../../image/com-user-flow.png");
   background-size: cover;
}


.container {
  /* background-color: white; */
  display: grid;
  grid-template-columns: 1fr;
  /* grid-gap: 1rem; */
  grid-auto-rows: minmax(20px, auto);
  grid-template-areas:
  "hero";
}

.hand {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.end {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-container {
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  align-items: center;
  height: 8rem;
  font-size: 2rem;
  font-family: "Open Sans";
  padding: 1rem;
  text-align: center;
  position: relative;
  z-index: 1;
}

.hero {
  background-color: #FBF4EC;
  color: #3F3E87;
  grid-area: hero;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "flex-container";
}

.top-hand {
  width: 35%;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

a:link {
 text-decoration: none;
}

li {
  align-items: center;
}

.logo {
  width:60px;
}

.mobile, .desktop{
  width:35%;
  margin:2rem auto;
  padding: 1rem;
}

.general {
  grid-area: general;
}

.overview {
  grid-area: overview;
}

.dot1, .dot2, .dot3, .dot4, .dot5{
  width:15px;
  margin: 2rem 0;

}

#vertical-nav{
  position: fixed;
  right: 2rem;
  top: 40%;
  bottom: auto;
}

.box {
  display: flex;
  overflow-y: hidden;
  width: 100%;
  margin-bottom: 2rem;
}


.footer {
  background-color: #636267;
  display: block;
  height: 80px;
}

@media screen and (min-width:768px) {
  .hero {
    background-color: #FBF4EC;
    color: #3F3E87;
    grid-area: hero;
    display: grid;
    grid-template-columns:6fr 6fr;
    grid-template-areas:
    "flex-container top-hand";
  }
  .top-hand {
    width: 32%;
  }

  .mobile, .desktop{
    width:30%;
    margin:2rem auto;
    padding: 1rem;
  }

  .intro {
    display: grid;
    grid-template-columns:2fr 2fr;
    grid-template-areas:
    "overview general";
    margin: 0 1%;
  }

  .general {
    margin: auto 10%;
    vertical-align: middle;
  }
}

@media screen and (min-width:1025px) {
  .hero {
    background-color: #FBF4EC;
    color: #3F3E87;
    grid-area: hero;
    display: grid;
    grid-template-columns:3fr 9fr;
    grid-template-areas:
    "flex-container top-hand";
  }
  .top-hand {
    width: 35%;
  }

  .mobile, .desktop {
      width: 15%;
      margin:2rem auto;
      padding: 1rem;
  }

  .intro {
    display: grid;
    grid-template-columns:2fr 2fr;
    grid-template-areas:
    "overview general";
    margin: 0 10%;
  }

  .general {
    vertical-align: middle;
  }
}
