* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #FBF4EC;
  font-family: "Montserrat";
  color:#3F3E87;
}

#load {
  width:100%;
  height:100%;
  position:fixed;
  z-index:9999;
  background:#FBF4EC url('images/loader.gif') no-repeat center center;
}

h1 {
  font-size: 3rem;
  line-height: 4.5rem;
  font-weight: 600;
  font-family: "Open Sans";
  background-color: white;
  text-align: center;
  border-radius:1rem;
  margin-bottom: 2rem;
}

h2 {
  font-size: 2.4rem;
  line-height: 4.5rem;
  font-weight: 600;
  font-family: "Open Sans";
}

h3 {
  font-size: 1.8rem;
  font-family: "open Sans";
  font-weight: 600;
  line-height: 2.7rem;
}

h4 {
  color:#A95A5D;
  font-weight:600;
  font-size: 1.5rem;
  display: inline;
  font-family: "Montserrat";
  line-height: 2.2rem;
}

h5 {
  font-weight:500;
  font-size: 1.5rem;
  display: inline;
  font-family: "Montserrat";
  line-height: 2.2rem;
}

h6 {
  font-weight:600;
  font-size: 1.8rem;
  font-family: "open Sans";
  line-height: 2.7rem;
}

h7 {
  color: #A95A5D;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 2.5rem;
}

h8 {
  font-size: 1.5rem;
  line-height: 2.5rem;
}

p {
  display:inline;
  font-family: "Montserrat";
  font-size: 1.5rem;
  line-height: 2.5rem;
  display: inline;
  margin-bottom: 2rem;
}

.bold {
  font-weight:bold;
}

a:hover {
  cursor: pointer;
}

a {
  color: #3F3E87;
}

/* ul {
  text-align:right;
} */

.h1-title {
  color: #A95A5D;
}

.link {
	text-decoration: none;
  position: relative;
	z-index: 1;
	display: inline-flex;
	padding-bottom: 5px;
}

.link::before {
	content: "";
	width: 100%;
	height: 20%;
	background-image: linear-gradient(to top, #3F3E87 5%, rgba(0, 0, 0, 0) 40%);
	position: absolute;
	left: 0;
	bottom: 6px;
	z-index: -1;
	will-change: width;
	transform-origin: left bottom
}

.link:hover::before {
	width: 0;
}

.link::before {
	transition: width .1s ease-out;
}

.link:hover::before {
	transition-duration: .15s;
}

.link2 {
	font-weight: 700;
	text-decoration: none;
  position: relative;
	z-index: 1;
	display: inline-flex;
	padding-bottom: 5px;
  color: #A95A5D;
}

.link2::before {
	content: "";
	width: 100%;
	height: 20%;
	background-image: linear-gradient(to top, #A95A5D 5%, rgba(0, 0, 0, 0) 40%);
	position: absolute;
	left: 0;
	bottom: 6px;
	z-index: -1;
	will-change: width;
	transform-origin: left bottom
}

.link2:hover::before{
	width: 0;
}

.link2::before {
	transition: width .1s ease-out;
}

.link2:hover::before {
	transition-duration: .15s;
}

/* .my-logo:hover {
  transform: scale(1.2, 1.2);
} */

#flex-container li {
  display: inline;
  width:24%;
  text-align: center;
}

li {
  align-items: center;
}

.work-font, .bio-font {
  font-size: 2rem;
}

.work :hover {
  font-size: larger;
  text-shadow: 0 0 1px #3F3E87;
}

.bio :hover {
  font-size: larger;
  text-shadow: 0 0 1px #3F3E87;
}

.mobile-button:hover, .desktop-button:hover, .styleguide-button:hover, .moodboard-button:hover, .wireframe-b:hover, .mockup-b:hover {
 /* text-shadow: 0px 0px 6px rgba(255, 255, 255, 1); */
 -webkit-box-shadow: 0px 5px 40px -10px rgba(63, 62, 135,1);
 -moz-box-shadow: 0px 5px 40px -10px rgba(63, 62, 135,1);
 transition: all 0.4s ease 0s;
}

.next-button:hover {
  transform: scale(1.2,1.2);
}

.desk:hover {
  text-shadow: 0 0 10px white;
}

.role, .duration, .tools {
  font-weight: 500;
}

.role {
  display: inline-block;
}

.overview, .general, .question, .waveform, .lamp, .design-challenge, .Research, .description, .user-story, .curves
, .finding, .pen, .sitemap, .branding, .color, .typeface, .marketing, .wireframe, .mockup, .preference, .iteration, .conclusion, .user-flow, .font
, .penpen, .survey-conclusion, .persona {
  margin: 4% 10%;
}


section {
  margin-top: 1%;
  margin-bottom: 1%;
}

.project-intro {
  color: #3F3E87;
}

.project-div {
  margin-left:20%;
  margin-right: 20%;
  text-align: center;
}

.project-h3 {
  margin:1rem 0;
  color: #A95A5D;
  font-weight: 600;
}

.buttons {
  text-align: center;
  justify-content:space-around;
  margin: 0 10%;
  font-size: 1.6rem;
}

.overview-p {
  display: inline;
}

.com-user-flow {
  background-image: url("../../image/com-user-flow.png");
  background-size: contain;
  margin-bottom: 2rem;
}

main {
  /* background-color: white; */
  display: grid;
  grid-template-columns: 1fr;
  /* grid-gap: 1rem; */
  grid-auto-rows: minmax(20px, auto);
  grid-template-areas:
  "hero";
}

.sk1, .sk2, .sk3, .sk4 {
    width:100%;
  }

.end {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-container {
  display: flex;
  justify-content:space-around;
  flex-direction: row;
  align-items: center;
  height: 8rem;
  font-size: 2rem;
  font-family: "Open Sans";
  text-align: center;
  position: relative;
  z-index: 1;
  font-weight: 600;
  padding: 1rem
}

.hero {
  background-color: #FBF4EC;
  color: #3F3E87;
  grid-area: hero;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "flex-container";
  margin-bottom: 25%;
  margin-top: 0;
  background-image: url("../../image/packsolution.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 0;
  padding-bottom: 66%;
  margin-bottom: 0;
}

a:link {
 text-decoration: none;
}

li {
  align-items: center;
}

.logo {
  width:60px;
}

.mobile-button, .desktop-button {
  width:80%;
  margin:2rem auto;
  border: 1.5px solid #3F3E87;
  border-radius: 5rem;
  font-weight: 600;
  padding: 1.2rem 0;
}

.general {
  grid-area: general;
  line-height: 3rem;
  display: inline-block;
}

.overview {
  grid-area: overview;
}

.question1 {
  grid-area: question1;
  margin: 10% 10%;
}

.question-h6 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.question-number {
  color: #A95A5D;
}

.question2 {
  grid-area: question2;
  margin: 10% 10%;
}

.question3 {
  grid-area: question3;
  margin: 10% 10%;
}

.percent {
  font-weight:bold;
}

.waveform-img {
  width:100%;
}

.waveform {
  grid-area: waveform;
}

.challenge-title {
  color: #A95A5D;
  }

.lamp {
  grid-area: lamp;
}

.design-challenge {
  grid-area: design-challenge;
}

#vertical-nav {
  position: fixed;
  right: 2rem;
  top: 10%;
  bottom: auto;
}

#vertical-nav ul li a {
  width:5%;
}

.lamp-p {
  margin-bottom: 2rem;
  font-weight:bold;
}

.lamp-image {
  width:20%;
  margin: 2rem 40%;"
}

.design-p {
  margin-bottom: 2rem;
  font-weight:bold;
}

.design-image {
  width: 60%;
  margin: 2rem 20%;
}

.research-p {
  margin-bottom: 5%;
}

.s-image {
  width:20%;
  margin: 2rem 40%;
}

.survey {
  margin-left: 10%;
  margin-right: 10%;
}

.survey-p {
  font-size:1.6rem;
  font-weight:600;
}

.h6-main-p {
  color:#C9994F;
}

.survey-curve-p {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom:2rem;
}

.survey-curve-1-image, .survey-curve-2-image, .survey-curve-3-image, .survey-curve-4-image, .survey-curve-5-image, .survey-curve-6-image, .survey-curve-7-image, .survey-curve-8-image {
  width:100%;
  margin-bottom: 2rem;
  padding: 5% 5%;
}

.survey-curve-p {
  margin-bottom:4rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.survey-curve-p-2 {
  margin-bottom:2rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.line-1-image {
  width:85%;
  margin-bottom: 2rem;
  margin-left:7.5%;
  margin-right:7.5%;
}

.text-center {
  text-align: center;
}

.see-more {
  font-size:1.2rem;
  margin-bottom: 2rem;
}

.s-conclusion-img {
  width:20%;
  /* margin: 2rem 40%; */
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.persona-h {
  text-align: center;
  margin-bottom: 2rem;
}

.persona-image {
  width:20%;
  margin:2rem 40%;
}

.persona-des {
  background-color:#E5E5E5;
  padding:2% 5%;
}

.img2 {
  width:80%;
  margin:2rem 10%;
}

.img3 {
  width:80%;
  margin:2rem 10%;
}

.persona1 {
  width:100%;
  margin-bottom:2rem;
  margin-top:2rem;
  background-color: #E5E5E5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "persona-student-p student-title"
  "student-main-persona-p student-main-persona-p"
}

.persona2 {
  width:100%;
  margin-bottom:2rem;
  background-color: #E5E5E5;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "engineer-title persona-engineer-p"
  "engineer-main-persona-p engineer-main-persona-p";
}

.engineer-img, .student-img {
  width: 70%;
  margin: 2rem 15%;
}

.student-social {
  width: 45%;
  margin: 2rem 0;
}

.engineer-social {
  width: 70%;
  margin: 2rem 0;
}

.engineer-title {
  grid-area: engineer-title;
  text-align: center;
  margin-top: 2rem;
}

.engineer-main-persona-p {
  grid-area: engineer-main-persona-p;
  margin: 0 10%;
  margin-bottom: 3rem;
}

.student-main-persona-p {
  grid-area: student-main-persona-p;
  margin: 0 10%;
  margin-bottom: 3rem;
}

.persona-engineer-p {
  grid-area: persona-engineer-p;
  margin-top: 20%;
  margin-bottom: 20%;
  margin-right: 20%;
}

.student-title {
  grid-area: student-title;
  text-align: center;
  margin-top: 2rem;
}

.persona-student-p {
  grid-area: persona-student-p;
  margin-top: 20%;
  margin-bottom: 20%;
  margin-left: 20%;
}

.comp-h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.comp-des {
  background-color:#E5E5E5;
  padding:2% 5%;
}

.comp-image {
  width:20%;
  margin:2rem 40%;
}

.comp-img2 {
  width:80%;
  margin:2rem 10%;
}

.comp-img {
  text-align: center;
  margin-bottom: 2rem;
}

.com-conclusion-img {
  width:20%;
  margin-left: 0;
  margin-bottom: 2rem;
  align-self: center;
}

.com-conclusion {
  margin-top: 5%;
}

.com11, .com22, .com33, .com44 {
  width:100%;
  margin:2rem 0;
}

.red-bold-p {
  color: #A95A5D;
  font-weight: bold;
}

.user-flow {
  background-color:#E5E5E5;
  padding:2% 5%;
}

.user-story-image {
  width:20%;
  margin:2rem 40%;
}

.user-story-h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.finding-image {
  width:20%;
  margin:2rem 40%;
}

.finding-h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.pen-icon {
  width:20%;
  margin:2rem 40%;
 }

.pen-h2 {
   text-align: center;
   margin-bottom: 2rem;
  }


.horn {
  width:20%;
  margin:2rem 40%;
}

.horn-h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.fly-image {
  width:20%;
  margin:2rem 40%;
}

.fly-h2 {
  margin-bottom:2rem;
  text-align: center;
}

.color-img {
  width:20%;
  margin:2rem 40%;
}
.color-h2 {
  margin-bottom:2rem;
  text-align: center;"
}

.colors {
  width:100%;
  margin-bottom:2rem;
}

.logo-z {
  width:10%;
  margin:2rem 45%;
  }

.logo-h2 {
  margin-bottom:2rem;
  text-align: center;
}

.logos {
  width:100%;
  margin-bottom:2rem;
}

.pen2 {
   width:20%;
   margin:2rem 40%;
 }

.pen2-h2 {
  margin-bottom:2rem;
  text-align: center;
}

.font1 {
   width: 90%;
   margin-left:1rem;
   padding-bottom:1rem;
   margin-bottom: 2rem;
 }

.font-line {
  width:85%;
  margin-bottom: 2rem;
  margin-left:7.5%;
  margin-right:7.5%;
}

.font2 {
   width: 90%;
   margin-left:1rem;
   padding-bottom:1rem;
 }

.font {
   background-color: #e5e5e5;
 }

.fonts {
   width: 80%;
   margin: 2rem 10%;
 }

 .tik {
   width:5%;
   margin-left:1rem;
   padding-bottom:1rem;
 }

.moodboard-button {
  width:80%;
  margin:2rem auto;
  border: 1.5px solid #3F3E87;
  border-radius: 5rem;
  font-weight: 600;
  padding: 1.5rem 0;
}

.styleguide-button {
  width:80%;
  margin:2rem auto;
  border: 1.5px solid #3F3E87;
  border-radius: 5rem;
  font-weight: 600;
  padding: 1.5rem 0;
}

.speaker {
  width:20%;
  margin:2rem 40%;
}

.speaker-h2 {
  text-align: center;
  margin-bottom: 2rem;
}

.buttons-2 {
  text-align: center;
  display: flex;
  margin: 0 10%;
  font-size: 1.6rem;
  }

 .wireframe-b {
   width:80%;
   margin:0 10%;
   border: 1.5px solid #3F3E87;
   border-radius: 5rem;
   font-weight: 600;
   padding: 1.2rem 0;
   margin-bottom: 2rem;
 }

 .mockup-b {
   width:80%;
   margin:0 10%;
   border: 1.5px solid #3F3E87;
   border-radius: 5rem;
   font-weight: 600;
   padding: 1.2rem 0;
 }

 .smile {
   width:20%;
   margin:2rem 40%;
 }

  .smile-h2 {
  text-align: center;
  margin-bottom: 2rem;
}

  .pre1 {
    width:100%;
    margin-bottom:2rem;
  }

  .pre2 {
    width:100%;
    margin-bottom:2rem;
  }

 .pre3 {
  width:100%;
  margin-bottom:2rem;
}

 .iteration-phase {
  width:100%;
  margin-bottom:2rem;
 }

 .hand {
   background-color: #D7908D;
   display:grid;
   grid-template-columns: 1fr;
   grid-template-areas:
   "desk-platform"
   "desktop-link";
 }

 .hand3 {
   grid-area: hand3;
   width:100%;
   margin:25% 0;
 }

 .desk-platform {
   grid-area: desk-platform;
   width:100%;
   color: white;
   padding: 5% 5%;
   line-height: 3rem;
 }

 .desktop-img {
   width:90%;
   margin: 5% 5%;
 }

 .desktop-link {
   grid-area:desktop-link;
 }

.box {
  display: flex;
  overflow-y: hidden;
  width: 100%;
  margin-bottom: 2rem;
}

.dot {
  background-color: #3F3E87;
  height: 10px;
  width: 10px;
  border-radius: 90%;
  margin-top: 2rem;
  margin-bottom:3rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: block;
}

.dot:hover, .dot:active {
  transform: scale(1.7, 1.7);
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 160px;
  background-color:#A95A5D;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  right: 4rem;
  top: 30%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

 footer {
  background-color: #636267;
  margin-top:0;
  margin-bottom:0;
  /* height: 80px; */
}

.role {
  border-left: 5px solid #A95A5D;
  padding-left: 2rem;
}


.survey-p1 {
  display: block;
  margin: 1rem 11%;
}

.survey-p2 {
  display: block;
  display: block;
  margin: 1rem 20%;
}

.survey-p3 {
  display: block;
  display: block;
  margin: 1rem 20%;
}

.desk {
  color: white;
  margin: 5% 1%;
  line-height: 0.1rem;
  font-size: 0.9rem;
}

.desk1 {
  color: #636267;
  margin: 5% 1%;
  line-height: 0.1rem;
  font-size: 0.9rem;
}

.sk1, .sk2, .sk3, .sk4 {
  margin-bottom:2rem;

}
.iteration-p {
  text-align: center;
  margin-bottom: 2rem;
}

.desktop-version {
  background-color: #D7908D;
}

.previous {
  width:50%;
  background-color: #C1BFBF;
}

.previous-button {
  width:10%;
  margin:5% 2%;
}

.next {
  width:50%;
  background-color: #62AAB1;
  text-align: right;
}

.next-button {
  width:10%;
  margin:5% 2%;
}

.email {
  text-align: center;
  margin-top:1rem;
}

.get-in-touch {
  color: white;
  font-size: 15px;
}

.get-in-touch:hover {
  text-shadow: 0 0 10px white;
}

#ul-social-media li {
  display: inline;
  width:20%;
}

ul li {
  text-align: left;
}

.ul-social {
  display: table;   /* Allow the centering to work */
	margin: 0 auto;
}

.social-logo:hover {
  transform: scale(1.5, 1.5);
}

.social-logo {
  width:25px;
  margin:0.5rem 0.5rem;
}

.made-in-usa {
  text-align: center;
}

.made-in-usa-p {
  color: white;
  font-size: 10px;
  margin-bottom: 1%;
}

.user-story-p {
  margin-bottom: 2rem;
}

.googledrive-dropbox-evernote1, .googledrive-dropbox-evernote2, .googledrive-dropbox-evernote3 {
  width:5%;
  margin: 1% 1%;
}

#onboarding li {
  display: inline;
  width:24%;
}

#onboarding {
  display: inline;
}

.googledrive-dropbox-evernote1:hover, .googledrive-dropbox-evernote2:hover, .googledrive-dropbox-evernote3:hover  {
  transform: scale(1.5, 1.5);
}

.user-flow-img-2 {
  width:90%;
  margin:2% 5%;
}

@media (max-width:767px) {
  img.paper {
    display: none;
  }
  img.sitemapp {
    display: none;
  }
  .desktop-button {
    display: none;
  }
  .survey-curve-1, .survey-curve-2, .survey-curve-3, .survey-curve-4,.survey-curve-5, .survey-curve-6, .survey-curve-7, .survey-curve-8 {
    display: none;
  }
  .curves::after {
    content: 'Important: Please check the results waveforms in bigger resolution:-)';
    font-size: 1.8rem;
    line-height: 3rem;
    font-weight: 600;
    background-color: white;
  }
  .img-box-wireframe, .img-box-mockup {
    display: none;
  }
  .phase::after {
    content: 'Important: Please check the design iterations in bigger resolution:-)';
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem;
    background-color: white;
  }
  .finding::after {
    content: 'Important: Please check how the user stories are connected to the solutions in bigger resolution:-)';
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem;
    background-color: white;
  }
  .preference-images {
    display: none;
  }
  .preference::after {
    content: 'Important: Please check the preference test results in bigger resolution:-)';
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem;
    background-color: white;
  }
  .solution-image {
    display: none;
  }
  .penpen::after {
    content: 'Important: Please check the userflow sketches in bigger resolution:-)';
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem;
    background-color: white;
  }
  .sitemap::after {
    content: 'Important: Please check the sitemap illustration in bigger resolution:-)';
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem;
    background-color: white;
  }
}

.preference-h {
  color: #61AAB1;
  text-align:center;
  font-weight: bold;
}

.questions {
  background-color: white;
}

.pre-title {
  margin: 0 20%;
  margin-top: 6rem;
}

.Competitive-Analysis {
  margin-top: 10%;
}

.survey-result {
  text-align: center;
  margin-bottom: 1rem;
}

.desktop-platform {
   font-size: 1.5rem;
   color: white;
   margin: 10% 10%;
   line-height: 3rem;
 }


@media screen and (min-width:768px) {

  .hero {
    background-color: #FBF4EC;
    color: #3F3E87;
    grid-area: hero;
    display: grid;
    grid-template-columns:1fr 2fr;
    grid-template-areas:
    "flex-container .";
    margin-bottom: 25%;
    margin-top: 0;
    background-image: url("../../image/packsolution.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-bottom: 66%;
    margin-bottom: 0;
  }

  .desk {
    color: white;
    margin: 5% 1%;
    line-height: 0.1rem;
    font-size: 2rem;
  }

  .desk1 {
    color: #636267;
    margin: 5% 1%;
    line-height: 0.1rem;
    font-size: 2rem;
  }


  .flex-container {
    margin-left: 5%;
    margin-right: 5%;
  }

  .mobile-button {
    width: 35%;
    margin-left: 13%;
    padding: 1.5rem;
  }

 .desktop-button {
    width: 35%;
    margin-right: 13%;
    padding: 1.5rem;
  }

  .buttons, .buttons-2  {
    font-size: 1.6rem;
    display: flex;
  }

  .intro {
    display: grid;
    grid-template-columns:2fr 2fr;
    grid-template-areas:
    "overview general";
    margin: 0 1%;
    color:#3F3E87;
  }

  .general {
    margin: auto 10%;
    vertical-align: middle;
    line-height: 3rem;
    display: inline-block;
  }

  .role {
    margin-left: 2rem;
    border-left: 5px solid #A95A5D;
    padding-left: 2rem;
  }

  .pre-title {
    margin: 0 30%;
    margin-top: 4rem;
  }

  .questions {
    display: grid;
    grid-template-columns:2fr 2fr;
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas:
    "question1 question2"
    "question3 waveform"
    "lamp lamp"
    "design-challenge design-challenge";
    margin: 0 5%;
    background-color: white;
  }

  .lamp {
    display: flex;
    margin-right: 2%;
    margin-left: 25%;
  }

  .lamp-p {
    width: 50%;
    align-self: center;
    margin:5% 2%;
    padding-top: 1%;
  }

  .lamp-image {
    width: 10%;
    align-self: center;
    margin:1% 2%;
  }

  .design-challenge {
    display: flex;
    margin: 0 0;
  }

  .design-p {
    width: 40%;
    align-self: center;
    margin: 5% 5%;
  }

  .design-image {
    width: 35%;
    align-self: center;
    margin:1% 5%;
  }

  .description {
    margin: 0 25%;
  }

  .survey {
    display: flex;
    align-self: center;
    height: 5rem;
    margin-top: 2rem;
    margin-left: 0;
    margin-right: 0;
  }

  .s-image {
    width:5%;
    margin: 0 0;
    align-self: center;
  }

  .survey-p1 {
    width:55%;
    margin:0 0;
    display: inline-block;
    padding: 1.2rem 1rem;
  }

  .survey-p2 {
    width:29%;
    margin:0 0;
    display: inline-block;
    text-align: right;
    padding: 1.2rem 1rem;
  }

  .survey-p3 {
    width: 30%;
    margin:0 0;
    display: inline-block;
    text-align: right;
    padding: 1.2rem 1rem;
  }

  .curves {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas:
    "survey-curve-1 survey-curve-1 survey-curve-1 survey-curve-1 survey-curve-2 survey-curve-2 survey-curve-2 survey-curve-2"
    "survey-curve-3 survey-curve-3 survey-curve-3 survey-curve-4 survey-curve-4 survey-curve-4 survey-curve-4 survey-curve-4"
    "survey-curve-5 survey-curve-5 survey-curve-5 survey-curve-5 survey-curve-5 survey-curve-6 survey-curve-6 survey-curve-6"
    "survey-curve-7 survey-curve-7 survey-curve-7 survey-curve-7 survey-curve-8 survey-curve-8 survey-curve-8 survey-curve-8";
    background-color: #FBF4EC;
  }

  .line-1-image {
    visibility: hidden;
  }

  .survey-curve-1 {
    grid-area: survey-curve-1;
    background-color: #E5E5E5;
    padding: 5% 5%;
  }

  .survey-curve-2 {
    grid-area: survey-curve-2;
    background-color: #E5E5E5;
    padding: 6% 5%;
  }

  .survey-curve-3 {
    grid-area: survey-curve-3;
    background-color: #E5E5E5;
    padding: 10% 5%;
  }

  .survey-curve-4 {
    grid-area: survey-curve-4;
    background-color: #E5E5E5;
    padding: 5% 5%;
  }

  .survey-curve-5 {
    grid-area: survey-curve-5;
    background-color: #E5E5E5;
    padding: 5% 5%;
  }

  .survey-curve-6 {
    grid-area: survey-curve-6;
    background-color: #E5E5E5;
    padding: 8% 5%;
  }

  .survey-curve-7 {
    grid-area: survey-curve-7;
    background-color: #E5E5E5;
    padding: 5% 5%;
  }

  .survey-curve-8 {
    grid-area: survey-curve-8;
    background-color: #E5E5E5;
    padding: 5% 5%;
  }

  .survey-conclusion {
    margin: 0 20%;
    align-self: center;
  }

  .survey-result {
    display: flex;
    margin-top: 5%;
    margin-bottom: 1rem;
    margin-left: 20%;
  }

  .s-conclusion-img {
    width: 10%;
    align-self: center;
    /* margin-left: 10%;
    margin-right: 0.1%; */
  }

  .survey-h6 {
    padding-top: 4rem;
    padding-left: 2rem;
  }

  .persona.icon {
    display: flex;
    align-self: center;
    height: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .persona-image {
    width:5%;
    margin: 0 0;
    align-self: center;
  }

  .persona-h {
    margin: 0 0;
    width:20%;
    display: inline-block;
    padding: 1.2rem 1rem;
    text-align: left;
    margin-bottom: 2rem;
  }

  .persona-des {
    display: grid;
    align-self: center;
    grid-template-columns:1fr 1fr;
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas:
    "persona-p persona-img2";
    padding: 2.5% 2.5%;
  }

  .persona-p {
    grid-area: persona-p;
    margin: 0 0;
    width: 90%;
    padding-left: 2rem;
    padding-top: 2rem;
  }

  .persona-img2 {
    grid-area: persona-img2;
    margin: 0 0;
    align-self: center;
  }

  .img2 {
    margin: 0 0;
    align-items: center;
    padding-left: 22%;
  }

  .persona-group {
    display: grid;
    align-self: center;
    column-gap: 2rem;
    grid-template-columns:1fr 1fr;
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas:
    "persona1 persona2";
  }

  .persona1 {
    grid-area: persona1;
  }

  .persona2 {
    grid-area: persona2;
    margin-top: 2rem;
  }

  .comp.icon {
    display: flex;
    align-self: center;
    height: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .comp-image {
    width:5%;
    margin: 0 0;
    align-self: center;
  }

  .comp-h2 {
    margin: 0 0;
    width:30%;
    display: inline-block;
    padding: 1.2rem 1rem;
    text-align: left;
    margin-bottom: 2rem;
  }

  .comp-des {
    display: grid;
    align-self: center;
    grid-template-columns:1fr 1fr;
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas:
    "persona-p persona-img2";
    padding: 2.5% 2.5%;
  }

  .comp-p {
    grid-area: persona-p;
    margin: 0 0;
    width: 90%;
    padding-left: 2rem;
    padding-top: 2rem;
  }

  .comp-img2 {
    grid-area: persona-img2;
    margin: 0 0;
    align-self: center;
  }

  .img2 {
    margin: 0 0;
    align-items: center;
    padding-left: 22%;
  }

  .img3 {
    margin: 0 0;
    align-items: center;
    margin-left: 30%;
  }

  .comp-group {
    display: grid;
    align-self: center;
    column-gap: 2rem;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas:
    "com11 com22 com33 com44";
  }

  .com11 {
    grid-area: com11;
  }

  .com22 {
    grid-area: com22;
    margin-top: 2rem;
  }

  .com33 {
    grid-area: com33;
  }

  .com44 {
    grid-area: com44;
    margin-top: 2rem;
  }

  .observe-more {
    text-align: center;
  }

  .market-h6 {
    padding-left: 2rem;
    padding-top: 3.2rem;
  }

  .com-conclusion{
    display: grid;
    align-self: center;
    column-gap: 2rem;
    grid-template-columns:1fr 1fr;
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas:
    "C-1 C-2";
  }
  .C-1 {
    grid-area: C-1;
    margin-right: 1rem;
    padding: 2rem 1rem;
  }
  .C-2 {
    grid-area: C-2;
    margin-left: 1rem;
    padding: 2rem 1rem;
  }

  .com-conclusion-img {
    display: inline-block;
    margin-bottom: 0;
    width: 12%;
    align-self: center;
  }

  .comp-img {
    text-align: center;
    display: flex;
    margin-bottom: 1rem;
  }

  .user-flow {
    display: grid;
    align-self: center;
    grid-template-columns:1fr 1fr;
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas:
    "user-des user-img";
    padding: 2.5% 2.5%;
    margin-top: 12rem;
    margin-bottom: 12rem;
  }

  .user-des {
    grid-area:user-des;
    margin: 0 0;
  }

  .user-img {
    grid-area:user-img;
    margin: 0 0;
    align-self: center;
  }

  .user-story-des {
    display: grid;
    align-self: center;
    grid-template-columns:1fr 1fr;
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas:
    "user-story finding";
  }

  .user-story {
    grid-area:user-story;
    align-self: center;
  }

  .finding {
    grid-area:finding;
  }

  .inner {
    display: flex;
    align-self: center;
    height: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .user-story-image {
    width:10%;
    margin: 0 0;
    align-self: center;
  }

  .user-story-h2 {
    margin: 0 0;
    width:50%;
    padding: 1.2rem 1.2rem;
    text-align: left;
  }

  .inner-finding {
    display: flex;
    align-self: center;
    height: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .finding-image {
    width:10%;
    margin: 0 0;
    align-self: center;
  }

  .finding-h2 {
    margin: 0 0;
    width:90%;
    padding: 1.2rem 1.2rem;
    text-align: left;
  }

  .solution-image {
    padding-left:5%;
    padding-right: 5%;
    width:100%;
  }

  .paper {
    padding-left:5%;
    padding-right: 5%;
    width:100%;
  }

  .pen {
    display: flex;
    align-self: center;
    margin: 2rem 1%;
  }

  .pen-icon {
    width:15%;
    margin: 0 1rem;
    align-self: center;
  }

  .pen-h2 {
    margin: 0 0.1rem;
    width:90%;
    padding: 1rem 0;
    text-align: left;
    padding-top: 2.1rem;
  }

  .penpen {
    margin:0 25%;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .sitemapp {
    padding-left:5%;
    padding-right: 5%;
    width: 100%;
  }

  .content-s {
    display: flex;
    align-self: center;
    margin: 2rem 10%;
  }

  .horn {
    width:20%;
    margin: 0 1rem;
    align-self: center;
  }

  .horn-h2 {
    margin: 0 0;
    width:90%;
    padding: 1.2rem 0rem;
    text-align: left;
    padding-top: 2.1rem;
  }

  .sitemap {
    margin:0 25%;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .fly {
    display: flex;
    align-self: center;
    margin: 2rem 15%;
    width: 70%;
  }

  .fly-image {
    width:10%;
    margin: 0 0;
    align-self: center;
  }

  .fly-h2 {
    margin: 0 1rem;
    width:90%;
    padding: 1.2rem 0rem;
    text-align: left;
  }

  .sketch {
    /* background-color: white; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    grid-column: 2rem;
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas:
    "sk1 sk2"
    "sk3 sk4";
    padding-left:5%;
    padding-right:5%;
  }
  .sk1 {
    grid-area:sk1;
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 5%;
    margin-right: 5%;
  }

  .sk2 {
    grid-area:sk2;
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 5%;
    margin-right: 5%;
  }

  .sk3 {
    grid-area:sk3;
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 5%;
    margin-right: 5%;
  }
  .sk4 {
    grid-area:sk4;
    width: 90%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 5%;
    margin-right: 5%;
  }

  .Color-Palette {
    display: flex;
    align-self: center;
    margin: 2rem 20%;
    text-align: center;
  }

  .color-img {
    width:20%;
    margin: 0 1rem;
    align-self: center;
  }

  .color-h2 {
    margin: 0 0;
    padding: 1.2rem 1.2rem;
    text-align: left;
  }

  .color {
    margin:0 25%;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .colors {
    padding-left:5%;
    padding-right: 5%;
    position: relative;
    bottom: 15rem;
    margin-bottom: -15rem;
  }

  .logo-it {
    display: flex;
    align-self: center;
    margin: 2rem 15%;
    text-align: center;
  }

  .logo-z {
    width:15%;
    margin: 0 0;
    align-self: center;
  }

  .logo-h2 {
    margin: 0 1rem;
    padding: 2rem 0;
    text-align: left;
  }

  .logo-design {
    width:50%;
    margin:0 25%;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .logos {
    padding-left:5%;
    padding-right: 5%;
    position: relative;
    bottom: 10rem;
    margin-bottom: -5rem;
  }

  .typeface {
    width:50%;
    margin:0 25%;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .typeface-select {
    display: flex;
    align-self: center;
    margin: 2rem 15%;
    text-align: center;
  }

  .pen2 {
    width:15%;
    margin: 0 0;
    align-self: center;
  }

  .pen2-h2 {
    margin: 0 1rem;
    padding: 1.2rem 0.2rem;
    text-align: left;
  }

  .font {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    grid-template-areas:
    "font1 font2";
    margin: 0 0;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #FBF4EC;
  }

  .font1-div {
    grid-area: font1;
    padding: 5% 5%;
    display: inline-block;
  }

  .font-line {
   visibility: hidden;
  }

  .font2-div {
    grid-area: font2;
    padding: 5% 5%;
    display: inline-block;
  }

  .font1-div, .font2-div {
    background-color: #e5e5e5;
  }

  .styleguide-button {
    width: 30%;
    margin-left: 18%;
    padding: 1.5rem;
  }

  .moodboard-button {
    width: 30%;
    margin-right: 18%;
    padding: 1.5rem;
  }

  .marketing-div {
    display: flex;
    align-self: center;
    margin: 2rem 5%;
    text-align: center;
  }

  .speaker {
    width:20%;
    margin: 0 0;
    align-self: center;
  }

  .speaker-h2 {
    margin: 0 0;
    padding: 1.2rem 2rem;
    text-align: left;
    padding-top: 2rem;
  }

  .marketing {
    margin:0 25%;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .img-box-wireframe, .img-box-mockup {
    width:100%;
    min-width: 100%;
  }

  .wireframe-b {
    width:50%;
    margin: 2rem 25%;
    padding: 1.5rem;
  }

 .wireframe {
    width:50%;
    margin:2rem auto;
   }

 .mockup {
     width:50%;
     margin:2rem auto;
  }

  .mockup-b {
    width:50%;
    margin: 2rem 25%;
  }

  .preference-div {
    display: flex;
    align-self: center;
    margin: 2rem 10%;
    text-align: center;
    padding: 1.5rem;
  }

  .smile {
    width:20%;
    margin: 0 0;
    align-self: center;
  }

  .smile-h2 {
    margin: 0 0;
    padding: 1.2rem 2rem;
    text-align: left;
    padding-top: 3rem;
  }

  .preference {
    margin:0 25%;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .pre1 {
    padding-left: 5%;
    padding-right: 5%;
  }

  .preference-h {
    color: #61AAB1;
    text-align:center;
    font-weight: bold;
  }

  .pre2 {
    padding-left: 5%;
    padding-right: 5%;
  }

  .pre3 {
    padding-left: 5%;
    padding-right: 5%;
  }

  .iteration-phase {
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 2rem;
  }

  .hand {
    background-color: #D7908D;
    display:grid;
    grid-template-columns:2fr 3fr;
    grid-template-areas:
    "desktop-platform desktop-link";
  }

  .desk, .desk1 {
    padding: 0 1rem;
    margin-top: 20%;
  }

  .desktop-img {
    margin: 5% 5%;
    width: 90%;
    padding: 0 0;
  }

.pp {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "one-two three-four-five";
  }
 .one-two {
   grid-area: one-two;
   margin-right: 1rem;
   padding:2rem 1rem;
   padding-left: 0;
 }

.three-four-five {
  grid-area: three-four-five;
  margin-right: 1rem;
  padding:2rem 1rem;
  padding-right: 0;
  }

.research-understanding {
  margin: 4% 5%;
  }
 .curves {
  margin: 0 0;
 }

 .persona {
   margin: 0 0;
 }

 .fonts {
    margin: 2rem 30%;
  }

 .desktop-platform {
    font-size: 1.5rem;
    color: white;
    margin-top: 15%;
    margin-left: 15%;
    line-height: 3rem;
  }

  .social-logo {
    width:25px;
    margin:0.5rem 0.5rem;
  }

}

@media screen and (min-width:1025px) {

  .hero {
    background-color: #FBF4EC;
    color: #3F3E87;
    grid-area: hero;
    display: grid;
    grid-template-columns:3fr 9fr;
    grid-template-areas:
    "flex-container .";
    background-image: url("../../image/packsolution.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-bottom: 66%;
    margin-bottom: 0;
  }

 .flex-container {
   margin-left: 5%;
   margin-right: 5%;
  }

  .mobile-button {
    width: 25%;
    margin-left: 24%;
    padding: 1.5rem;
  }

  .desktop-button {
    width: 25%;
    margin-right: 24%;
    padding: 1.5rem;
  }

  .intro {
    display: grid;
    grid-template-columns:2fr 2fr;
    grid-template-areas:
    "overview general";
    margin: 0 10%;
  }

  .general {
    vertical-align: middle;
    align-items: center;
    line-height: 3rem;
    display: inline-block;
  }

  .role {
    margin-left: 2rem;
    border-left: 5px solid #A95A5D;
    padding-left: 2rem;
  }

  .questions {
    display: grid;
    grid-template-columns:2fr 2fr;
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas:
    "question1 question2"
    "question3 waveform"
    "lamp lamp"
    "design-challenge design-challenge";
    margin: 0 10%;
  }

  .lamp {
    display: flex;
    margin-right: 2%;
    margin-left: 25%;
  }

  .lamp-p {
    width: 50%;
    align-self: center;
    margin:5% 2%;
    padding-top: 1%;
  }

  .lamp-image {
    width: 10%;
    align-self: center;
    margin:1% 2%;
  }

  .design-challenge {
    display: flex;
    margin: 0 0;
  }

  .design-p {
    width: 40%;
    align-self: center;
    margin: 5% 5%;
  }

  .design-image {
    width: 35%;
    align-self: center;
    margin:1% 5%;
  }

  .description {
    width:40%;
    margin: 2rem 30%;
  }

  .survey {
    display: flex;
    align-self: center;
    height: 5rem;
    margin-top: 2rem;
    margin-left: 0;
    margin-right: 0;
  }

  .s-image {
    width:5%;
    margin: 0 0;
    align-self: center;
  }

  .survey-p1 {
    width:55%;
    margin:0 0;
    display: inline-block;
    padding: 1.2rem 1rem;
  }

  .survey-p2 {
    width:29%;
    margin:0 0;
    display: inline-block;
    text-align: right;
    padding: 1.2rem 1rem;
  }

  .survey-p3 {
    width: 15%;
    margin:0 0;
    display: inline-block;
    text-align: right;
    padding: 1.2rem 1rem;
  }

  .curves {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    column-gap: 2rem;
    grid-row-gap: 2rem;
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas:
    "survey-curve-1 survey-curve-1 survey-curve-1 survey-curve-1 survey-curve-2 survey-curve-2 survey-curve-2 survey-curve-2"
    "survey-curve-3 survey-curve-3 survey-curve-3 survey-curve-4 survey-curve-4 survey-curve-4 survey-curve-4 survey-curve-4"
    "survey-curve-5 survey-curve-5 survey-curve-5 survey-curve-5 survey-curve-5 survey-curve-6 survey-curve-6 survey-curve-6"
    "survey-curve-7 survey-curve-7 survey-curve-7 survey-curve-7 survey-curve-8 survey-curve-8 survey-curve-8 survey-curve-8";
    background-color: #FBF4EC;
  }

  .line-1-image {
    visibility: hidden;
  }

  .survey-curve-1 {
    grid-area: survey-curve-1;
    background-color: #E5E5E5;
    padding: 5% 5%;
  }

  .survey-curve-2 {
    grid-area: survey-curve-2;
    background-color: #E5E5E5;
    padding: 6% 5%;
  }

  .survey-curve-3 {
    grid-area: survey-curve-3;
    background-color: #E5E5E5;
    padding: 10% 5%;
  }

  .survey-curve-4 {
    grid-area: survey-curve-4;
    background-color: #E5E5E5;
    padding: 5% 5%;
  }

  .survey-curve-5 {
    grid-area: survey-curve-5;
    background-color: #E5E5E5;
    padding: 5% 5%;
  }

  .survey-curve-6 {
    grid-area: survey-curve-6;
    background-color: #E5E5E5;
    padding: 8% 5%;
  }

  .survey-curve-7 {
    grid-area: survey-curve-7;
    background-color: #E5E5E5;
    padding: 5% 5%;
  }

  .survey-curve-8 {
    grid-area: survey-curve-8;
    background-color: #E5E5E5;
    padding: 5% 5%;
  }

  .survey-curve-7-image {
    width:70%;
    margin-left: 15%;
    margin-right: 15%;
  }

  .survey-conclusion {
    margin: 0 30%;
    align-self: center;
    margin-bottom: 10%;
  }

  /* .s-conclusion-p {
    width: 50%;
    align-self: center;
    margin: 5% 8%;
  } */

  .s-conclusion-img {
    width: 15%;
    margin-bottom: 2rem;
    align-self: center;
    /* margin-left: 10%; */
    /* margin-right: 0.1%; */
    text-align: center;
  }

  .survey-result {
    display: flex;
    margin-top: 5%;
    margin-left: 25%;
  }

  .survey-h6 {
    padding-top: 5rem;
    padding-left: 2rem;
  }

  .persona.icon {
    display: flex;
    align-self: center;
    height: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .persona-image {
    width:5%;
    margin: 0 0;
    align-self: center;
  }

  .persona-h {
    margin: 0 0;
    width:20%;
    display: inline-block;
    padding: 1.2rem 1rem;
    text-align: left;
    margin-bottom: 2rem;
  }

  .persona-des {
    display: grid;
    align-self: center;
    grid-template-columns:1fr 1fr;
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas:
    "persona-p persona-img2";
    padding: 2.5% 2.5%;
  }

  .persona-p {
    grid-area: persona-p;
    margin: 0 0;
    width: 90%;
    padding-left: 2rem;
    padding-top: 2rem;
  }

  .persona-img2 {
    grid-area: persona-img2;
    margin: 0 0;
    align-self: center;
  }

  .img2 {
    margin: 0 0;
    align-items: center;
    padding-left: 22%;
  }

  .persona-group {
    display: grid;
    align-self: center;
    column-gap: 2rem;
    grid-template-columns:1fr 1fr;
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas:
    "persona1 persona2";
  }

  .persona1 {
    grid-area: persona1;
  }

  .persona2 {
    grid-area: persona2;
    margin-top: 2rem;
  }

  .comp.icon {
    display: flex;
    align-self: center;
    height: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .comp-image {
    width:5%;
    margin: 0 0;
    align-self: center;
  }

  .comp-h2 {
    margin: 0 0;
    width:20%;
    display: inline-block;
    padding: 1.2rem 1rem;
    text-align: left;
    margin-bottom: 2rem;
  }

  .comp-des {
    display: grid;
    align-self: center;
    grid-template-columns:1fr 1fr;
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas:
    "persona-p persona-img2";
    padding: 2.5% 2.5%;
  }

  .comp-p {
    grid-area: persona-p;
    margin: 0 0;
    width: 90%;
    padding-left: 2rem;
    padding-top: 2rem;
  }

  .comp-img2 {
    grid-area: persona-img2;
    margin: 0 0;
    align-self: center;
  }

  .img2 {
    margin: 0 0;
    align-items: center;
    padding-left: 22%;
  }

  .img3 {
    margin: 0 0;
    align-items: center;
    margin-left: 30%;
  }

  .comp-group {
    display: grid;
    align-self: center;
    column-gap: 2rem;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas:
    "com11 com22 com33 com44";
  }

  .com11 {
    grid-area: com11;
  }

  .com22 {
    grid-area: com22;
    margin-top: 2rem;
  }

  .com33 {
    grid-area: com33;
  }

  .com44 {
    grid-area: com44;
    margin-top: 2rem;
  }

  .com11, .com22, .com33, .com44 {
    width:80%;
    margin:2rem 10%;
  }

  .observe-more {
    text-align: center;
  }

  .com-conclusion {
    display: grid;
    align-self: center;
    column-gap: 2rem;
    grid-template-columns:1fr 1fr;
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas:
    "C-1 C-2";
  }
  .C-1 {
    grid-area: C-1;
    margin-right: 1rem;
    padding: 2rem 2rem;
  }
  .C-2 {
    grid-area: C-2;
    margin-left: 1rem;
    padding: 2rem 2rem;
  }

  .com-conclusion-img {
    display: inline-block;
    margin-bottom: 2rem;
    width: 10%;
    align-self: center;
  }

  .comp-img {
    display: flex;
    align-self: center;
  }

  .market-h6 {
    padding-left: 2rem;
    padding-top: 3.2rem;
  }

  .user-flow {
    display: grid;
    align-self: center;
    grid-template-columns:1fr 1fr;
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas:
    "user-des user-img";
    padding: 2.5% 2.5%;
    margin-top: 12rem;
    margin-bottom: 12rem;
  }

  .user-des {
    grid-area:user-des;
    margin: 0 0;
  }

  .user-img {
    grid-area:user-img;
    margin: 0 0;
    align-self: center;
  }

  .user-story-des {
    display: grid;
    align-self: center;
    grid-template-columns:1fr 1fr;
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas:
    "user-story finding";
  }

  .user-story {
    grid-area:user-story;
    align-self: center;
    padding-left: 10%;
  }

  .finding {
    grid-area:finding;
    padding-right: 10%;
  }

  .inner {
    display: flex;
    align-self: center;
    height: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .user-story-image {
    width:10%;
    margin: 0 0;
    align-self: center;
  }

  .user-story-h2 {
    margin: 0 0;
    width:50%;
    padding: 1.2rem 1.2rem;
    text-align: left;
  }

  .inner-finding {
    display: flex;
    align-self: center;
    height: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }

  .finding-image {
    width:10%;
    margin: 0 0;
    align-self: center;
  }

  .finding-h2 {
    margin: 0 0;
    width:90%;
    padding: 1.2rem 1.2rem;
    text-align: left;
  }

  .solution-image {
    padding-left:10%;
    padding-right: 10%;
    width: 100%;
  }

  .paper {
    padding-left:10%;
    padding-right: 10%;
    width: 100%;
  }

  .pen {
    display: flex;
    align-self: center;
    margin: 2rem 11%;
  }

  .pen-icon {
    width:20%;
    margin: 0 0;
    align-self: center;
  }

  .pen-h2 {
    margin: 0 1rem;
    /* padding: 1rem 0.5rem; */
    text-align: left;
    padding-top: 2.1rem;
  }

  .penpen {
    width:30%;
    margin:0 35%;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .sitemapp {
    padding-left:10%;
    padding-right: 10%;
    width: 100%;
  }

  .content-s {
    display: flex;
    align-self: center;
    margin: 2rem 10%;
  }

  .horn {
    width:20%;
    margin: 0 0;
    align-self: center;
  }

  .horn-h2 {
    margin: 0 0;
    width:90%;
    padding: 1.2rem 0.5rem;
    text-align: left;
    padding-top: 2.1rem;
  }

  .sitemap {
    width:30%;
    margin:0 35%;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .fly {
    display: flex;
    align-self: center;
    margin: 2rem 30%;
    width: 40%;
  }

  .fly-image {
    width:10%;
    margin: 0 0;
    align-self: center;
  }

  .fly-h2 {
    margin: 0 0;
    width:90%;
    padding: 1.2rem 1.2rem;
    text-align: left;
  }

  .sketch {
    /* background-color: white; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2rem;
    grid-column: 2rem;
    grid-auto-rows: minmax(20px, auto);
    grid-template-areas:
    "sk1 sk2"
    "sk3 sk4";
    padding-left:10%;
    padding-right:10%;
  }
  .sk1 {
    grid-area:sk1;
    width: 70%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 25%;
    margin-right: 5%;
  }

  .sk2 {
    grid-area:sk2;
    width: 70%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 5%;
    margin-right: 25%;
  }

  .sk3 {
    grid-area:sk3;
    width: 70%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 25%;
    margin-right: 5%;
  }
  .sk4 {
    grid-area:sk4;
    width: 70%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 5%;
    margin-right: 25%;

  }

  .Color-Palette {
    display: flex;
    align-self: center;
    margin: 2rem 20%;
    text-align: center;
  }

  .color-img {
    width:20%;
    margin: 0 0;
    align-self: center;
  }

  .color-h2 {
    margin: 0 0;
    padding: 1.2rem 1.2rem;
    text-align: left;
  }

  .color {
    width:30%;
    margin:0 35%;
    margin-bottom: 2rem;
    margin-top: 10rem;
  }

  .colors {
    padding-left:10%;
    padding-right: 10%;
    position: relative;
    bottom: 25rem;
    margin-bottom: -20rem;
  }

  .logo-it {
    display: flex;
    align-self: center;
    margin: 2rem 30%;
    text-align: center;
  }

  .logo-z {
    width:15%;
    margin: 0 0;
    align-self: center;
  }

  .logo-h2 {
    margin: 0 0;
    padding: 2rem 1.2rem;
    text-align: left;
  }

  .logo-design {
    width:50%;
    margin:0 25%;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .logos {
    padding-left:10%;
    padding-right: 10%;
    position: relative;
    bottom: 10rem;
    margin-bottom: -5rem;
  }

  .typeface {
    width:50%;
    margin:0 25%;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .typeface-select {
    display: flex;
    align-self: center;
    margin: 2rem 25%;
    text-align: center;
  }

  .pen2 {
    width:15%;
    margin: 0 0;
    align-self: center;
  }

  .pen2-h2 {
    margin: 0 0;
    padding: 1.2rem 1.2rem;
    text-align: left;
  }

  .font {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    grid-template-areas:
    "font1 font2";
    margin: 0 0;
    padding-left: 10%;
    padding-right: 10%;
    background-color: #FBF4EC;
  }

  .font1-div {
    grid-area: font1;
    padding: 5% 5%;
    display: inline-block;
  }

  .font-line {
   visibility: hidden;
  }

  .font2-div {
    grid-area: font2;
    padding: 5% 5%;
    display: inline-block;
  }

  .font1-div, .font2-div {
    background-color: #e5e5e5;
  }

 .styleguide-button {
   width: 25%;
   margin-left: 24%;
   padding: 1.2rem;
   margin-top: 0;
  }

  .moodboard-button {
    width: 25%;
    margin-right: 24%;
    padding: 1.2rem;
    margin-top: 0;
  }

  .marketing-div {
    display: flex;
    align-self: center;
    margin: 2rem 25%;
    text-align: center;
  }

  .speaker {
    width:20%;
    margin: 0 0;
    align-self: center;
  }

  .speaker-h2 {
    margin: 0 0;
    padding: 1.2rem 2rem;
    text-align: left;
    padding-top: 2rem;
  }

  .marketing {
    margin:0 30%;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .wireframe-b {
    width: 25%;
    margin: 0 37.5%;
    padding: 1.5rem;
  }

  .img-box-wireframe, .img-box-mockup {
    width:100%;
    min-width: 100%;
  }

 .wireframe {
    width:50%;
    margin:2rem auto;
   }

  .mockup {
    width:50%;
    margin:2rem auto;
  }

  .mockup-b {
    width: 25%;
    margin: 0 37.5%;
    padding: 1.5rem;
  }

  .preference-div {
    display: flex;
    align-self: center;
    margin: 2rem 10%;
    text-align: center;
  }

  .smile {
    width:20%;
    margin: 0 0;
    align-self: center;
  }

  .smile-h2 {
    margin: 0 0;
    padding: 1.2rem 2rem;
    text-align: left;
  }

  .preference {
    width:30%;
    margin:0 35%;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  .pre1 {
    padding-left: 10%;
    padding-right: 10%;
  }

  .pre2 {
    padding-left: 10%;
    padding-right: 10%;
  }

  .pre3 {
    padding-left: 10%;
    padding-right: 10%;
  }

  .iteration-phase {
    padding-left: 10%;
    padding-right: 10%;
    margin-bottom: 2rem;
  }

  .hand {
    background-color: #D7908D;
    display:grid;
    grid-template-columns:2fr 3fr;
    grid-template-areas:
    "desktop-platform desktop-link";
  }

  .desktop-platform {
    margin-top: 15%;
    font-size: 2rem;
    line-height: 3.5rem;
    color: white;
    margin-left: 15%;
    margin-right: 0;
  }

  .desktop-img {
    width: 80%;
    margin: 5% 10%;
  }

  .hand3 {
    padding: 5% 0;
  }

.pp {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "one-two three-four-five";
  }
 .one-two {
   grid-area: one-two;
   margin-right: 1rem;
   padding:2rem 1rem;
   padding-left: 0;
 }

.three-four-five {
  grid-area: three-four-five;
  margin-right: 1rem;
  padding:2rem 1rem;
  padding-right: 0;
  }

.research-understanding {
  margin: 4% 10%;
  }
 .curves {
  margin: 0 0;
 }

 .persona {
   margin: 0 0;
 }

 .fonts {
    margin: 2rem 35%;
  }

  .phase {
    width :80%;
    margin: 2rem 10%;
  }

  .social-logo {
    width:25px;
    margin:0.5rem 0.5rem;
  }

  .desk {
    color: white;
    margin: 5% 1%;
    line-height: 0.1rem;
    font-size: 2rem;
    padding: 0;
 }

 .desk1 {
   color: #636267;
   margin: 5% 1%;
   line-height: 0.1rem;
   font-size: 2rem;
   padding: 0;
}


}

@media screen and (min-width:2000px) {
  /* .intro, .questions, .research-understanding, .user-flow, .user-story-des,
  .solution-image, .penpen, .paper, .sitemap, .sitemapp, .color,
  .colors, .logo-design, .logos, .typeface, .font, .phase, .preference, .mockup,
  .pre1, .pre2, .pre3, .iteration-phase, .conclusion, .desktop-version, .sketch, .box, .marketi{
    max-width: 1200px;
    margin: 2rem auto;
  } */
  main {
    max-width: 1200px;
    margin: 0 auto;
  }

}
